.main-font-family {
  font-family: "Fredoka One", cursive;
}

.body-font-family {
  font-family: "Source Sans Pro", sans-serif;
}

.small-font {
  font-size: small;
}

.settings-dropdown-font {
  font-size: xx-small;
}

.main-accent-nav {
  background-image: linear-gradient(to right, #cd1a1a, #faff0e);
  min-height: 0.25rem;
}

.nav-link-color {
  color: grey;
}

.nav-link-color:hover {
  color: black;
}

.large-card-img {
  width: 100%;
  height: auto;
  max-width: 10rem;
}

.hole-card-img {
  width: 100%;
  height: auto;
  max-width: 6rem;
}
